#mainNav{
    float:right;
    height: 24px;
    position: relative;
    right: 37%;
}
#mainNav .custom-ul .custom-il{
    float:left;
    padding-left: 20px;
    padding-right: 20px;
}
#mainNav .custom-ul .custom-il>a{
    text-decoration:none;
    font-size: 18px;
    color: #0D0D0D;
}
.custom-ul{
    list-style-type:none;
}
/*login css*/
#mainLogin .username{

}
/*button css*/
#buttonOrange {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
}

#buttonRed {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: red;
}

/*library css*/
.custom-library-img{
    display: block;
}

.custom-library-bookDiv{
    display: inline-block;
}