* {margin:0;padding:0;}

article, header, main, nav, footer, section, aside{ display:block;}

body{
    background-image: url(../images/pattern.png);
    background-repeat: repeat-x;
    position: fixed;
    background-color: #e2e2e2;;
    width:100%;
    font-family: calibri;
}
header{
    width: 100%;
    height: 3.75rem;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #1E1E1E;
}
.headerContainer{
    margin: 0 auto;
    padding: .625rem 1.25rem;
    color: #FFF;
}
.headerD{
    float: left;
    height: 1.875rem;
    margin: 0.375rem 2.5rem 0 0;
}
.headerD a{
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.25rem;
    text-shadow: 0 1px 0 #000;
    letter-spacing: 1.5px;
    font-weight: 800;
    text-decoration: none;
    margin-left: 0.4rem;
}
.headerD a img{
    float: left;
    height: 1.375rem;
    width: 1.375rem;
    background-size: 1.375rem 1.375rem; 
}
.clear{
    clear:both;
}
nav{
    float: left;
    margin-left: 3%;
    padding: 0;
}

/*changed from menu to tg-ul*/
.tg-ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-shadow: none;
    color: #999;
}

/*changed from menu to tg-ul*/
.tg-ul li{
    display: block;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    border: none;
}
/*changed from menu to tg-ul*/
.tg-ul a{
    display: block;
    margin: 0 !important;
    border: none;
    text-decoration: none;
    height: 1.25rem;
    padding: 0.625rem 2.813rem 1.25rem 0.3125rem;
    white-space: nowrap;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0;
    font-weight: 600;
}
/*changed from menu to tg-ul*/
.tg-ul a:hover{
    color: #fd6ca3;;
}
#wrapper{
    width:1100px;
    position: relative;
    margin: 0px auto;
    height: 666px;
    background-color: #ffffff;
    top: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(39,49,65,0.1);
}
.welcome{
    width: 600px;
    position: relative;
    margin: 0px auto;
    height: 40px;
    top: 15px;
    text-align: center;
    color: #545454;
}
#signin{
    width: 400px;
    position: relative;
    margin: 0px auto;
    height: 280px;
    background-color: #ffffff;
    top: 90px;
    border-bottom: 5px #fd6ca3 solid;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(39,49,65,0.1);
}

/*changed - add label*/
#signin label{
    display: block;
    position: relative;
    text-align: center;
    padding: 1em;
}

/*changed - add label*/
#signin input{
    margin-left: 2em;
    width: 230px;
    height: 30px;
    border-radius: 5px;
}
#signin input:hover{
    background-color: rgba(253, 108, 163, 0.41);
}
.login-signinButton{
    background-color: #fd6ca3;
    color: white;
    display: block;
    line-height: 40px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    /*top: 90px;*/
    position: relative;
    border-radius: 10px;
    margin: 0px auto;
}
.row_activity{
    width:100%;
    height: 310px;
    display: flex;
   justify-content: center;
}
.snow-globe {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 2rem auto;
  background-color: #E1F5FE;
  box-shadow: inset 0.8rem 0.5rem 0.5rem 0.2rem rgba(255, 255, 255, 0.8);
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.05));
  border: #e2e2e2 solid 1px; 
}

.snow-globe:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.snow-globe:hover:before {
  background: 
    radial-gradient(circle, rgba(255, 255, 255, 0.5) 25%, transparent 25%) 0 0, 
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 20%, transparent 20%) 0.7rem 0.3rem, 
    radial-gradient(circle, rgba(255, 255, 255, 0.9) 18%, transparent 18%) 0.3rem 0.6rem;
  background-size: 1rem 1rem;
  animation: snow 2s linear infinite;
    border:none;
}
.bottom{
    border-bottom: 45px solid #fd6ca3;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0px;
    width: 120px;
    top: 225px;
    position: relative;
    left: 3%;
}


@keyframes snow {
  0% {
    background-position: 0 0, 
                         0.7rem 0.3rem, 
                         0.3rem 0.6rem;
  }
  50% {
    background-position: 0.3rem 0.4rem, 
                         0.8rem 0.5rem, 
                         0.2rem 0.9rem;
  }
  100% {
    background-position: 0.5rem 0.6rem, 
                         0.7rem 0.9rem, 
                         0.2rem 1rem;
  }
}

/*button library*/
.tg-library-startButton{
    background: linear-gradient(#f5f5f5, #b9b9b9), #c9c5c9;
    border-radius: 10em;
    border: 3px solid #dadada;
    width: 4.5em;
    height: 4.5em;
    margin-left: 50px;
    color: #fff;
    margin-right: 15px;
}
.tg-library-stopButton{
    background: linear-gradient(#f5f5f5, #b9b9b9), #c9c5c9;
    border-radius: 10em;
    border: 3px solid #dadada;
    width: 4.5em;
    height: 4.5em;
    color:#fff;
}
.tg-library-startButton:before,.tg-library-stopButton:before,
.tg-library-startButton:after, .tg-library-stopButton:after {
    position: absolute;
    content: " ";
}
.tg-library-startButton:active {
    top: 0.4em;
    box-shadow: 0 0.16em 0.24em rgba(0, 0, 0, 0.4);
}
.tg-library-startButton:before {
    z-index: 2;
    top: 16em;
    width: 0;
    height: 0;
    border: 1.4em solid transparent;
    border-left-color: rgba(100, 100, 100, 0.8);
    border-left-width: 2.6em;
}
.tg-library-stopButton:before{
    top: 16.2em;
    left: 10.4em;
    width: 2.3em;
    height: 2.3em;
    background: rgba(100, 100, 100, 0.8);
}
.tg-library-startButton:hover{
    border-left-color: rgba(36, 36, 36, 0.8);
}

.tg-library-startButton:hover, .tg-library-stopButton:hover{
    background: #fff;
    border:rgba(36, 36, 36, 0.8) 2px solid;
}

.button{
    color: white;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    top: 225px;
    position: absolute;
    font-size: 1.5em;
    width: 94%;
    text-align: center;
}
.button:hover{
    font-weight: bold;
}


/*Library*/
.first{
    width: 98%;
    position: relative;
    height: 35px;
    display: block;
    margin: 0px auto;
    top: 10px;
}
.first h4{
    text-align: center;
}
.age{
    width: 10%;
    position: relative;
    height: 610px;
    background-color: #e2e2e2;
    top: 10px;
    float: left;
    left: 1%;
    border-radius: 40px;
}

.main{
    width: 100%;
    position: relative;
    height: 550px;
    top: 25px;
}
/*changed books class to */
.tg-library-books{
    width: 98%;
    position: relative;
    height: 540px;
    margin: 0px auto;
}
/*changed story class to */
.tg-library-story{
    width: 21%;
    height: 230px;
    /*background: url(../images/story.jpg);*/
    background-size: 100%;
    float: left;
    margin: 2%;
    top: 10px;
    position: relative;
    cursor: pointer;
}

.tg-library-story h5{
    text-align: center;
    margin-bottom: 5px;
}

.story:hover{
    background-color: white;
    opacity: 0.7;
}
.story img{
    width: 70%;
    top: 21%;
    position: relative;
    left: 15%;
}
.language{
    width: 10%;
    position: relative;
    height: 610px;
    background-color: #e2e2e2;
    top: 10px;
    float: left;
    left: 1%;
    border-radius: 40px;
}
.language button, .age button{
    width: 60%;
    height: 65px;
    border-radius: 50%;
    margin: 20%;
    background-color: white;
}
.colors{
width: 78%;
    position: relative;
    height: 60px;
    top: -50px;
    float: left;
    left: 11%;
    padding-left: 3%;
}
.colors button{
    width: 5%;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}
.colorfull{}
.red{background-color: red;}
.orange{background-color: orange;}
.yellow{background-color: yellow;}
.dgreen{background-color: lime;}
.lgreen{background-color: green;}
.dBlue{background-color: blue;}
.lBlue{background-color: cyan;}
.purple{background-color: purple;}
.brown{background-color: brown;}
.black{background-color: black;}
.white{background-color: white;}
/*End of Library*/
/*Chat*/
.chatmain{
    width: 97%;
    position: relative;
    background-color: #e2e2e2;
    height: 636px;
    margin: 0px auto;
    top: 15px;
}
.messages{
    width: 75%;
    height: 615px;
    background-color: #fff;
    top: 10px;
    position: relative;
    left: 10px;
    border-radius: 10px;
    float: left;

}
.system_msg,.system_error{
    top: -135px;
    position: relative;
    margin: 10px;
}
.loggedin{
    width: 22.5%;
    height: 615px;
    position: relative;
    background-color: #fff;
    float: left;
    top: 10px;
    left: 1.5%;
    border-radius: 10px;
}
.above{
    width: 97%;
    height: 590px;
    background-color: #fff;
    top: 10px;
    position: relative;
    left: 10px;
    border-radius: 10px;
    float: left;
    border: 2px solid #e2e2e2;
    overflow: scroll;
}
.bellow{
    width: 97%;
    height: 115px;
    background-color: #fff;
    top: 465px;
    position: relative;
    left: 10px;
    border-top: 3px solid #e2e2e2;
}
.text{
    width: 90%;
    height: 30%;
    background-color: #fff;
    top: 8px;
    position: relative;
    float: left;
    border-right: 2px solid #e2e2e2;
}
.send{
    width: 70px;
    height: 110px;
    float: left;
    background-color: #fd6ca3;
    top: -29%;
    position: relative;
    left: 5px;
    color: #fff;
    border-radius: 0px 15px 15px 0px;
}
.me{
    padding: 10px;
    border-bottom: 3px solid #fd6ca3;
}
.name, .status{
    display: inline-block;
    top: -25px;
    position: relative;
}
.mypic{
    width: 30%;
    border-radius: 50%;
    position: relative;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*end model box for library*/


/*Agenda*/
.news{
    width: 97%;
    position: relative;
    height: 550px;
    top: 25px;
    margin: 0px auto;
}
.news h1{
    text-align: center;
}
.rowNews{
    width: 99%;
    height: 60px;
    border-bottom: 2px solid #e2e2e2;
    margin-top: 20px;
}
.rowNews p{
    direction: rtl;
}

#buttonRemove{
    width: 7%;
    height: 40px;
    top: -20px;
    position: relative;
    float: left;
    background: #fd6ca3;
    color: #fff;
    border-radius: 15px;
    border: #e2e2e2 3px solid;
    margin: 0.5em;
    cursor: pointer;
}

#buttonAdd{
    width: 7%;
    height: 40px;
    top: -20px;
    position: relative;
    float: left;
    background: #fd6ca3;
    color: #fff;
    border-radius: 15px;
    border: #e2e2e2 3px solid;
    margin: 0.5em;
    cursor: pointer;
}

.addCalender{
    width: 7%;
    height: 40px;
    top: -20px;
    position: relative;
    float: left;
    background: #fd6ca3;
    color: #fff;
    border-radius: 15px;
    border: #e2e2e2 3px solid;
    margin: 0.5em;
    cursor: pointer;
}